a 
{
	/*font-family: "Verdana", Arial, Verdana; font-size: 8.5pt; color:white ;*/ text-decoration: none; 
}/*
 a:hover 
{
	font-family: "Verdana", Arial, Verdana; font-size: 8.5pt; color: white; text-decoration: none
}*/
input 
{
	font-family: Tahoma, Verdana, Arial; font-size: 14px; color: white; border-top: #333333 1px solid; 
	border-right: #333333 1px solid; border-bottom: #333333 1px solid; border-left: #333333 1px solid;
	border-radius:7px;
}


.tdCommonText 
{
	font-family: Tahoma, Verdana, Arial;
	font-weight :bold ; 
	font-size: 8.5pt; color: #000000; 
	padding-left :5px;
}

.Combo 
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 8.5pt; 
	color: #000000;
	border: Orange 1px solid; 
}
.textbox
{
    border:1px solid #8FB7D3;
    height :15px;
	font-family: Tahoma, Verdana, Arial;
	font-size :11px;
}

.gvHeader
{
   background-color:Blue;
   color :White ;
   font-family :Verdana, Arial, Helvetica;
   font-size :14px;
   font-weight :bold ;
   border-radius: 10px;
}

.SelectedPage
{
    background-color:Black;
    font-weight: bold;
}
/*table.gvTable tr:hover td
{   
    background-color: white;
    color: Blue;
}*/
/*table.gvTable tr td:hover {
    background-color: White;
    color: Blue;
}*/
table.gvTable tr.gvHeader:hover td
{
   background-color:Blue;
   color :White ;
   font-family :Verdana, Arial, Helvetica;
   font-size :14px;
   font-weight :bold ;
   border-radius: 10px;
    
}

table.gvTable tr.SelectedPage:hover td
{
   background-color:Black;
   color :White ;
   border-radius: 10px;
    
}
.selected
{
    color: Black;
    /*font-weight: bold;*/
    background-color: #C8C8C8;
}

.gvItem
{

   font-family :Verdana, Arial, Helvetica;
   font-size :14px;
   padding: 5px;
   padding-bottom: 2px;
   padding-top: 2px;
}



.leftgvItem
{

    font-family :Verdana, Arial, Helvetica;
    font-size :14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.rightgvItem
{

    font-family :Verdana, Arial, Helvetica;
    font-size :14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.gvTable
{
     border-color :transparent ;
     border-style: none ;
     border-width :1px;
     border-radius: 10px;
     margin: 0 auto;
}

table tbody tr
{
    color: #c8c8c8;
       border-radius: 10px;
}
.gvTable tr:nth-child(odd)
{
    background-color:#191919;
}

.gvTable tr:nth-child(even)
{
    background-color:#323232;
}



.gvFooter
{
   color :Black ;
   font-family :Verdana, Arial, Helvetica;
   font-size :10px;
   font-weight :bold ;
   border-top-color :Black ;
   border-top-style :solid ;
   border-top-width :thin ;
   border-radius: 10px;
}

.gvUnSelectedRow
{
   background-color:White;
   color :Blue ;
   font-family :Verdana, Arial, Helvetica;
   font-size :10px;
}

.gvSelectedRow
{
   font-family :Verdana, Arial, Helvetica;
   font-size :10px;
   background-color:#82aaff ;
}
 .gvSelectedRowHover1:hover {
    background-color: white !important;
    color: blue;
}
.gvSelectedRowHover2 td:hover {
    background-color: white !important;
    color: blue;
}
.LoadingImage
{
background-color: #FFFFFF;
border-color:navy;
border-style:solid;
border-width:1px; 
color:Black;
width:50px;
height:50px;
}

.SelectedPage 
{
    color: White;
	font-family: "Verdana", Arial, Verdana;
	font-size: 14px; 
	font-weight :bold ;
	border-radius: 10px;
}

.JavaScriptGV 
{
	font-family:  Arial, Verdana;
	font-size: 12pt; 
	color: #716f64; 
	font-weight :bold ;
	border-radius: 10px;
}

.TreeComments
{
    color: black;
    background-color: white;
}

.HyperLinkDiv
{
    border-width: 1px; 
    border-style: solid; 
    border-color: black;
    color: White;
    background-color: Black;
}


.SummaryButtoms
{
    border-radius: 10px;
}

.SummaryTitleBar
{
    background-color: Black;
    color: White;
}

div.summary
{
    background-color: White;
 /*   border-style: solid;
    border-radius: 10px;
    border-color: Black;
    border-width: medium;*/
    color: Black;
}

div.HyperLinkDiv
{
    background-color: Black;
    color: White;
}
   
#HyperLinkDiv a:link
{
    color: White;
} 