﻿* {
    box-sizing: border-box;
    /*font-family: Verdana, Arial, Helvetica !important;*/
}
/*** Structure ***/
@media all and (min-width: 200px) {
    .InfoBar {
        font-size: 7px;
    }
}



@media all and (min-width: 800px) {
    .InfoBar {
        font-size: 8px;
    }
}

@media all and (min-width: 900px) {
    .InfoBar {
        font-size: 9px;
    }
}

@media all and (min-width: 960px) {
    .InfoBar {
        font-size: 10px;
    }
}

@media all and (min-width: 1100px) {
    .InfoBar {
        font-size: 11px;
    }
}

@media all and (min-width: 1250px) {
    .InfoBar {
        font-size: 12px;
    }
}

@media all and (min-width: 1350px) {
    .InfoBar {
        font-size: 12px;
    }
}

@media all and (min-width: 1450px) {
    .InfoBar {
        font-size: 14px;
    }
}

@media all and (min-width: 1550px) {
    .InfoBar {
        font-size: 15px;
    }
}

@media all and (min-width: 1650px) {
    .InfoBar {
        font-size: 16px;
    }
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.thumbnail {
    touch-action: manipulation;
    -ms-content-zooming: none;
}

.Navigator {
    /* 4.1 DWC changes to naviagator styles for sf# 3104 */
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    max-width: 600px;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.BigPanel {
    color: White;
    /*width: 97%;*/
    width: calc(100% - 30px);
    /*height: 95%;*/
    height: calc(100% - 50px);
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
    /*  overflow-y: hidden; */
}

.InfoBar {
    /* 4.1 DWC changes to infobar styles for sf# 3104 */
    float: right;
    color: Black;
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    display: inline-block;
    white-space: nowrap;
    max-width: 49%;
}

.Login {
    color: White;
    position: absolute;
    left: 40%;
    top: 30%;
    border: 2px solid black;
}

.formfield {
    
    border-radius: 5px;
}

.search-field {
    border-radius: 5px;
    display: block;
    width: 15.3%;
    height: 23px;
    display: block;
    color: black;
    margin-top: 0.5%;
}

input[type="search"].search-field::-webkit-input-placeholder 
{
    color: black;
    line-height: 2rem;
}

.formtext 
{
    color: White;
    font-weight: lighter;
}

div.PDF {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
}

#pic 
{
    margin: 1%;
}

.pic 
{
    margin: 1%;
}

img.image_picker_image {
    width: 108px;
    height: 81px;
}

div.tbluser {
    height: 300px;
    overflow-y: scroll;
}
/*4.3 filter Implementation Starts Here*/
#filter {
    /*padding: .3em 3em;*/
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 0px 5px 5px;
    width: 7.5%;
    text-transform: capitalize;
    margin-left: -15px;
}

#filterReset {
    /*padding: .3em 3em;*/
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    width: 7.5%;
    text-transform: capitalize;
}

.filter-alert {
    width: 96%;
    position: relative;
    padding: .2rem .4rem .2rem 1.25rem;
    margin-right: .1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: black;
    background-color: #fff3cd;
    border-color: #ffeeba;
    margin-left: 1em;
    text-align: center;
    display: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0.3em;
}

#filter-applied {
    visibility: hidden;
    float: right;
    border: 1px solid grey;
    padding: 12px 35px;
    margin-right: 1em;
    margin-top: 0.3em;
    background-color: #fff3cd;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
   
    border-radius: .25rem;
    font-weight: 400;
    transition: visibility 0.2s ease-in-out;
}
/*Sort By Ceret*/
#sortByCarrot {
    color: blue;
    margin-left: 3px;
}

/*Summary Styling Start */
.img-summary-btn {
    padding: .5%;
    margin-bottom: 5%;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

#img-summary-wrapper {
    opacity: 0;
    width: 50%;
    height: 85vh;
    max-height: 85vh;
    background: white;
    right: 2%;
    position: absolute;
    z-index: 1;
    color: black;
    font-family: Verdana, Arial, Helvetica;
}

#report-summary-wrapper {
    opacity: 1;
    width: 90%;
    height: 5vh;
    max-height: 85vh;
    background: white;
    /*right: 2%;*/
    margin: auto;
    position: relative;
    color: black;
    font-family: Verdana, Arial, Helvetica;
    z-index: -1;
    width: 1200px;
}

.summaryHead {
    width: 100%;
    height: 1.5em;
    background: rgb(153, 204, 255);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.summaryHead i {
    margin: 0.1em 0.2em;
    cursor: pointer;
}

.summaryHead i:hover {
    color: rgba(211,211,211,.5);
}

.summaryHeadRight {
    margin: 0.1em 0.2em;
    font-family: inherit;
    margin-left: 120px;
}

.summaryHeadLeft {
    margin: 0.1em 0.2em;
    font-family: inherit;
}

.summaryToolTip {
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
}

.summaryMacroSection
{
    width: 100%;
    /*height: 20vh;*/
    height: 25vh;
    background-color: white;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    color: black;
    font-family: 'Times New Roman';
}

#TreeMacros
{
    display: none;
}

.summaryRichText 
{
    /*height: calc(80vh - 235px);*/
    height: calc(73vh - 235px);
    width: 100%;
}

.summaryBottom 
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(153, 204, 255);
    /*height: 2.5em;*/
    height: 3.5em;
    border-top: 1px solid black;
}

#eSig 
{
    height: 2.2em;
    width: 130px;
    margin: 0.5em;
}

.summaryBottom input {
    margin: 0.2em 0.2em;
    padding: 3px 5px;
}

.summarybottomLeft {
    display: flex;
}

.summarybottomLeft input {
    height: 2.2em;
    width: 130px;
    margin: 0.5em;
}

.macroHead {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: black;
    background-color: white;
}

#summaryRibbon {
    border-bottom: solid black 1px;
    padding: 5px;
    background-color: rgb(153, 204, 255);
    color: black;
    text-align: left;
}

/*Start text editor btn style*/
#summaryFontFamily {
    width: 15%;
    margin-left: 1em;
}

#summaryFontSize {
    width: 5%;
    margin-right: 2%;
}

#btnUnderline, #btnBulletPoint, #btnClear, #btnUndo {
    margin-right: 1%;
}

#btnClear {
    font-weight: bold;
}

#summaryRibbon > button {
    color: black;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

iframe#theWYSIWYG {
    height: auto;
    width: 100%;
    border: none;
    overflow-y: scroll;
}

#richTextArea {
    height: auto;
    width: 100%;
    background-color: #fff;
}

.macro-section {
}
/* Start TX Text Control Area */
#TextControl1 {
    height: 100% !important;
    width: 100% !important;
}

.TreeComments_0 {
    color: black;
}

.TreeMacros_0 {
    color: black;
}

#loadRtf {
    display: none;
}
/*#mainCanvas {
    height: 100% !important;
    width: 100% !important;
}*/
.gvHeader i {
    color: red;
}

#date-filter {
    background: black;
}

.tabs {
    display: none !important;
}

/*Start hyperlink pop up style*/
#HyperLinkDiv {
    display: none;
    position: absolute;
    color: black;
    border: solid 1px black;
    background: white;
    text-align: center;
    min-width: 20%;
    z-index: 10000;
}

#HyperLinkHead {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    background: rgb(153, 204, 255);
    padding: 2%;
    box-sizing: border-box;
}

#HyperLinkCurrent {
    width: 100%;
    height: 2em;
    border: 3px solid darkgray;
    box-sizing: border-box;
}
#currentSelection{
    box-sizing: border-box;
    width: 99%;
    height: 99%;
}
#HyperlinkList {
    list-style-type: none;
    max-height: 100px;
    overflow-y: scroll;
    margin: 0;
    text-align: left;
    padding: 2%;
    line-height: 1.25;
}
#HyperLinkDiv li:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
.highlight {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
#HyperLinkActions {
    display: flex;
    width: 100%;
    height: 2em;
}
#HyperLinkActions button {
    flex-grow: 1;
    cursor: pointer;
}

/* Esig Modeal Popup box BEGIN */
.hover_bkgr_fricc {
    background: rgba(0,0,0,.4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
    color: black;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
    display: inline-block;
    height: auto;
    width: 540px;
    min-height: 100px;
    vertical-align: middle;
    position: relative;
    border-radius: .28571429rem;
    padding: 1.25rem 1.5rem;
    
}

.header {
    text-align: left;
    color: rgba(0,0,0,.85);
    font-size: 1.32857143rem;
    line-height: 1.28571429em;
    font-weight: 700
}
.modal-content {
    text-align: left;
    font-size: 1em;
    line-height: 1.4;
    padding: .5%;
}
.actions {
    padding: .5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

.modalSelectMD {
    width: 15rem;
}

.modalDrCodes {
    width: 5rem;
}
/* Popup box BEGIN */
#TreePopUp {
    height: auto;
    width: 100px;
    background-color: red;
    display: block;
    position: absolute;
    display: none;
}
/* Helper CSS */
.center-horizontal {
    margin: 0 auto;
}

#not-visible {
    display: none;
}
/* Genreal Tablets ----------- */
@media only screen and (max-width: 1180px) {
    .filter-alert {
        font-size: 12px;
    }

    #hide-sm {
        display: none;
    }
}
