<%@ Page Language="vb" AutoEventWireup="false" Inherits="DigiSonics.Process" MasterPageFile="~/Site.master" Codebehind="Process.aspx.vb" %>

<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <script language ="javascript" type="text/javascript" src="./js/Process.aspx.js"></script>
    <script language ="javascript" type="text/javascript" src="./js/GetResponse.js"></script>
</asp:Content>

<asp:content id="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:literal id="ltrlscript" runat="server"></asp:literal>
</asp:content>