ul.thumbnails.image_picker_selector {
  overflow: auto;
  -ms-content-zooming: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
    ul.thumbnails.image_picker_selector li .thumbnail {
        padding: 2px;
        border: 1px solid #dddddd;
    }
        ul.thumbnails.image_picker_selector li .thumbnail.selected {
            background: #0476E9;
            border: 1px solid #0476E9;
        }
        ul.thumbnails.image_picker_selector li .thumbnail.quadSelected {
            background: #0476E9;
            border: 1px solid #0476E9;
        }